/* commande.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

#commande {
    background-color: white;
    border-radius: 8px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50; /* Couleur sombre pour les titres */
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.add-order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Style des labels */
.add-order-form label {
    font-size: 16px;
    color: #34495e; /* Couleur de texte sombre mais douce */
}

/* Style des champs de saisie */
.add-order-form input,
.add-order-form select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: border-color 0.3s;
}

/* Effet focus sur les champs */
.add-order-form input:focus,
.add-order-form select:focus {
    border-color: #2980b9; /* Couleur bleue pour le focus */
    outline: none;
}

/* Style du bouton */
.add-order-form button {
    margin-left: 37%;
    padding: 12px 20px;
    background-color: #2c3e50; /* Couleur bleue */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 25%;
    transition: background-color 0.3s;
}

/* Effet au survol du bouton */
.add-order-form button:hover {
    color: #f39c12;
}

/* Style du bouton "Retour" */
.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 250px;
}

/* Effet au survol du bouton retour */
.back-btn:hover {
    background-color: #34495e;
    color: #f39c12;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .add-order-form {
        gap: 10px;
    }

    .add-order-form input,
    .add-order-form select {
        font-size: 14px;
    }

    .add-order-form button {
        font-size: 16px;
    }
}
