/* Style du header */
header {
    background-color: #222;
    padding: 15px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Container pour aligner logo et bouton */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo centré */
.logo img {
    height: 100px; /* Ajuste la taille du logo */
    display: block;
    margin: 0 auto;
}

.connexion-btn a, .user-buttons a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.connexion-btn a:hover, .user-buttons a:hover {
    background-color: #666;
}

.user-buttons {
    display: flex; /* Utilisation de flexbox */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    justify-content: flex-start; /* Aligne les éléments à gauche */
    gap: 10px; /* Espacement entre les boutons */
}

.user-buttons a {
    color: white;
    text-decoration: none;
    border-radius: 5px;
    white-space: nowrap; /* Empêche le texte de se casser */
    flex-shrink: 0; /* Empêche les boutons de se réduire */
}

.user-buttons a:hover {
    background-color: #555;
}

/* Bouton de déconnexion */
.logout-btn {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #666;
}
