/* modifier_profil.css */

/* Global body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

#profil {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/* Style du bouton "Retour" */
.back-btn {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 250px;
}

/* Effet au survol du bouton retour */
.back-btn:hover {
    background-color: #34495e;
    color: #f39c12;
}


/* Form container styles */
.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Form field styles */
.profile-form label {
    font-size: 16px;
    color: #34495e;
}

.profile-form input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

.profile-form input:focus {
    border-color: #2980b9; /* Highlight on focus */
    outline: none;
}

/* Submit button styling */
.profile-form button {
    margin-left: 38%;
    padding: 12px 20px;
    background-color: #2c3e50; /* Couleur bleue */
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 25%;
    transition: background-color 0.3s;
}

.profile-form button:hover {
    background-color: #34495e;
    color: #f39c12;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .profile-form button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .profile-form input {
        font-size: 14px;
    }
}
